.vs/slnx.sqlite
oneM2M-IoT-Platform/in-cse/configuration/org.eclipse.osgi/.manager/.fileTable.1
oneM2M-IoT-Platform/in-cse/Californium.properties
oneM2M-IoT-Platform/in-cse/configuration/org.eclipse.osgi/framework.info.1
oneM2M-IoT-Platform/in-cse/configuration/org.eclipse.osgi/.manager/.fileTableLock
oneM2M-IoT-Platform/in-cse/configuration/org.eclipse.osgi/.manager/.fileTable.2
oneM2M-IoT-Platform/in-cse/configuration/org.eclipse.osgi/25/0/.cp/libs/californium-0.18.6-final.jar
oneM2M-IoT-Platform/in-cse/configuration/org.eclipse.osgi/25/0/.cp/libs/element-connector-0.2-final.jar
oneM2M-IoT-Platform/in-cse/configuration/org.eclipse.osgi/28/0/.cp/libs/javax.persistence.jar
oneM2M-IoT-Platform/in-cse/configuration/org.eclipse.osgi/29/0/.cp/libs/org.apache.log4j_1.2.13.v200903072027.jar
oneM2M-IoT-Platform/in-cse/configuration/org.eclipse.osgi/35/0/.cp/eclipselink.jar
oneM2M-IoT-Platform/in-cse/configuration/org.eclipse.osgi/42/0/.cp/libs/eclipselink.jar
oneM2M-IoT-Platform/in-cse/configuration/org.eclipse.osgi/42/0/.cp/libs/h2-1.4.186.jar
oneM2M-IoT-Platform/in-cse/database/indb.mv.db
oneM2M-IoT-Platform/in-cse/database/indb.trace.db
.vscode/ipch/2dd02de7c7fb67e5/mmap_address.bin
oneM2M-IoT-Platform/in-cse/log.out
.vscode/c_cpp_properties.json
